<h1> <%= @employee.name %> 🕴🏻 </h1>
<h2> "<%= @employee.alias%>" </h2><br>
<img src="<%= @employee.img_url%>">
<h4> <%= @employee.title %> | <%= @employee.office %></h4><br>
<h3> <%= link_to @employee.dog.name, @employee.dog %> </h3>